

body {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*background: url(../imagenes/imagen.jpg);*/
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}


.menu{
    background-color: #000; 
    overflow: hidden;
}

.menu ul{
list-style: none; /*le saco las bolitas a los link*/
margin: 0;
padding: 0;
}

.menu ul li{
    display: inline-block; 
}

.menu ul li a{
    color: white; 
    display: block; /*permite que el padding tambien funcione hacia arriba. Sin display: block, solo funciona el padding hacia los lados*/
    padding: 20px 20px; 
    text-decoration: none; /*le quita el subrayado*/
}

.menu ul li a:hover{
    background-color: #75ACEC; 
}

.item-r{
    float: right;
}











.contenedor{
    width: 100%;
    padding: 15px;
}



.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

/*h1, h2{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}*/



input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

h3{
    text-align: center;
    color: #1a2537;
    font-size: 20px;
}



.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}



/**** BOTONES ****************************************************/
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}


/*************************************************************/


p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}























